@import "variables"

.arrow_buttons
  display: none
  @media only screen and (max-width: 980px)
    display: flex
  &__background
    width: 3rem
    height: 3rem
    border: .2rem solid $grey
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all .3s ease
    pointer-events: auto
    &:hover
      border: .2rem solid $text-orange
    &:active
      transform: translateY(.2rem)
  &__img
    user-select: none
  &__prev
    margin-right: 1rem
  &__a
    color: $text-dark-blue
    font-size: 1.3rem
    text-decoration: underline
    margin-left: 2rem
    cursor: pointer
    @media only screen and (max-width: 980px)
      display: none
    &:hover
      color: $dark-blue

.arrow__disactive
  cursor: default
  opacity: .5
  pointer-events: none